@import '../abstract/base';

.banner{
    background: url(../imagens/banner.jpeg) 27% no-repeat;
    min-height: 350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    .inner-banner{
        background-color: $brand-1; 
        opacity: 0.8;
        padding: 3em;
        border-radius: 4em;
        h1{
            font-size: $font-size;
            color: $brand-5;
        }
        h2{
            font-size: $font-size/2;
            color:$brand-4;
        }
    }
}