@import '../abstract/base';

.cupom{
    background-color: $brand-2;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10em 0;

    .cupom-title{
        h2{
            font-size: $font-size/1.7;
            color: $brand-6;
        }
    }
    .cupom-email{
        .cupom-form{
            display: flex;
            margin-top: 3em;
            .form-input{
                input{
                    padding: 1em;
                    margin-right: 5px;
                    border-radius: 1em;
                }
            }
            button{
                background-color: $brand-5;
                border: none;
                padding: 1em;
                border-radius: 1em;
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
}