@import '../abstract/base';
nav{
    background-color: $brand-1;
    padding: 1em 0;
    ul{
        display: flex;
        justify-content: center;
        font-size: 25px;
        gap: 5em;
        li{
            a{
                color: $brand-4;
                text-decoration: none;
                text-transform: uppercase;
                &:hover{
                    border-bottom: solid 1px $brand-4;
                }
            }
        }
    }
}